---
layout: default
title: Giovanni Benda - Computer Music
backlink: progetti
---
{% include header-internal.html %}
<div id="repository" class="section repository">
    <div>
        <div class="category">LAVORI / COMPUTER MUSIC</div>
        <h2>COMPUTER MUSIC</h2>
        <p>Sintesi, composizione algoritmica, DSP, live coding e sperimentazione sonora.</p>
    </div>
    <div id="video_cards" class="video_cards">
        <!-- Video cards will be dynamically generated here -->
    </div>
</div>
<script src="assets/js/data.js"></script>
<script src="assets/js/list.js"></script>
<script>
    localStorage.setItem('selectedCategory', 'computer-music');
</script>
{% include footer.html %}