---
layout: default
title: Giovanni Benda - Interactive Media
backlink: progetti
---
{% include header-internal.html %}
<div id="repository" class="section repository">
    <div>
        <div class="category">LAVORI / INTERACTIVE MEDIA</div>
        <h2>INTERACTIVE MEDIA</h2>
        <p>Computer vision, sistemi audiovisivi, installazioni e creative coding.</p>
    </div>
    <div id="video_cards" class="video_cards">
        <!-- Video cards will be dynamically generated here -->
    </div>
</div>
<script src="assets/js/data.js"></script>
<script src="assets/js/list.js"></script>
<script>
    localStorage.setItem('selectedCategory', 'interactive-media');
</script>
{% include footer.html %}