---
layout: default
title: Giovanni Benda - Web Development
backlink: progetti
---
{% include header.html %}
<div id="repository" class="web-development section repository">
    <div>
        <div class="category">LAVORI / WEB DEVELOPMENT</div>
        <h2>WEB DEVELOPMENT</h2>
        <p>Siti, applicazioni web e progetti frontend/backend.</p>
    </div>
    <div id="article_cards" class="article_cards"></div>
</div>
<script>
    localStorage.setItem('selectedCategory', 'web-development');
</script>
<script src="assets/js/data.js"></script>
<script src="assets/js/list.js"></script>
{% include footer.html %}