---
layout: default
title: Giovanni Benda - Web Development
backlink: progetti
---
{% include header-internal.html %}
<div id="repository" class="section repository">
    <div>
        <div class="category">LAVORI / WEB DEVELOPMENT</div>
        <h2>WEB DEVELOPMENT</h2>
        <p>Siti, applicazioni web e progetti frontend/backend.</p>
    </div>
    <div id="video_cards" class="video_cards">
        <!-- Video cards will be dynamically generated here -->
    </div>
</div>
<div id="popup_video_overlay" class="popup_video_overlay">
    <div id="video_player_card" class="video_player_card">
        <button class="close-popup-btn" onclick="closePlayer()">&times;</button>
        <div class="video_player">
            <div id="video_container" class="video_container"></div>
            <div id="video_functions" class="video_functions">
                <div class="timeline">
                    <input type="range" min="1" max="100" value="0" id="timeline" class="video_timeline" onclick="setTimeline()">
                </div>
                <div class="video_settings">
                    <button id="playpause_video" class="button_player" onclick="playpauseVideo()"></button>
                    <div class="video_duration">
                        <div id="initial_video" class="initial_video">00:00</div>
                        <div id="slash" class="slash"> / </div>
                        <div id="duration_video" class="duration_video">00:00</div>
                    </div>
                    <div id="volume_container" class="volume_container">
                        <i id="volume_icon" class="bi bi-volume-up-fill"></i>
                        <input type="range" min="0" max="100" value="50" id="volumeSlider" class="volumeSlider">
                    </div>
                    <div class=""></div>
                    <button id="settings_button" class="settings_button">
                        <i id="settings_icon" class="bi bi-sliders2-vertical"></i>
                        <div class="settings_container">
                            <div id="autoplay_speed_container" class="autoplay_speed_container">
                                <div class="speed_container">
                                    <p id="speed">1x</p>
                                    <div class="speed_slider">
                                        <div>Speed</div>
                                        <input type="range" min="0" max="5" value="2" id="speedSlider" class="speedSlider">
                                    </div>
                                </div>
                                <div class="autoplay_box">
                                    <div>
                                        <div>Autoplay</div>
                                        <input type="checkbox" value="on" checked="true" id="autoPlay" onclick="autoPlay()" class="autoplayBox">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </button>
                    <button id="fullscreen_button" class="" onclick="toggleFullscreen()">
                        <i class="bi bi-fullscreen"></i>
                    </button>
                </div>
            </div>
        </div>
        <div id="video_info" class="video_info">
            <div id="video_title"></div>
            <div id="video_author"></div>
            <div id="video_description"></div>
        </div>
    </div>
</div>
<script>
    localStorage.setItem('selectedCategory', 'web-development');
</script>
<script src="assets/js/data.js"></script>
<script src="assets/js/list.js"></script>
<script src="assets/js/player.js"></script>
{% include footer.html %}