<header>
    <a href="index.html" class="logo"><div>GIOVANNI/BENDA</div></a>
    <nav>
      <ul id="menu">
        <li><a href="/index.html#profilo">PROFILO</a></li>
        <li><a href="/index.html#competenze">COMPETENZE</a></li>
        <li>
          <a href="index.html#progetti">PROGETTI</a>
          <ul class="submenu">
            <li><a href="web-development.html">WEB DEVELOPMENT</a></li>
            <li><a href="computer-music.html">COMPUTER MUSIC</a></li>
            <li><a href="interactive-media.html">COMPUTER VISION</a></li>
          </ul>
        </li>
        <li><a href="index.html#repository">REPOSITORY</a></li>
        <li><a href="index.html#contatti">CONTATTI</a></li>
      </ul>
    </nav>
</header>